body{ 
background-color: hsl(257, 40%, 49%);
width: 1440px;
min-height: 100vh;
background-image: url(./assets/images/bg-desktop.svg);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
margin: 0;
}
/* logo */
.logo{
    padding-top: 50px;
    padding-left: 100px;
    width: max-content;
    height: max-content;
}
/* main image */
.mockup{
    padding-left: 100px;
    padding-top: 150px;
}
.mockup-img{
    filter: drop-shadow( 0px 3px 5px black);
}
/* title */
h1{
    color: aliceblue;
    width: max-content;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
h2{
    color: aliceblue;
    width: max-content;
    font-family: 'Open Sans', sans-serif;
    font-weight: 250;
    font-size: 23px;
    margin-top: -20px;
}
.text-box{
    margin-left: 860px;
    margin-top: -470px;
}
/* register button */
.btn-left{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: hsl(257, 40%, 49%);
    background-color: white;
    border: 1px solid white ;
    padding: 18px 55px;
    filter: drop-shadow( 0px 3px 5px black);
    border-radius: 35px;
    transition : 250ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-left: -5px;
    margin-top: 50px;
}
.btn-left:hover{
    transition : 2ms;
    padding: 18px 55px;
    /* transform : translateY(-0px); */
    background-color: hsl(300, 69%, 71%);
    color: white;
    border: 2px solid white ;
}
/* footer */
.footer{
    margin-bottom: 20px;

}
.twitter{
    width: 50px;
}
.instagram{
    width: 50px;
    margin-top: -55px;
    margin-left: 120px;
}
.facebook{
    width: 50px;
    margin-top: -55px;
    margin-left: 60px;
}
.footer{ 
    margin-left: 1500px;
    position: fixed;
    bottom: 20px;
    right: 360px ;
}
/* footer attribue */

.attribution {
    font-size: 12px;
    padding: 0;
    position: absolute;
    /* top: 870px; */
    left: 773px;
    bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255); 
}
a{
    color: rgb(218, 218, 218);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}